{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class = textarea>
<p><h3>Dear Customers!</h3></p>
    Thank You for visiting our online store.
    With our information services we would like to support for shopping.
    We would like to show our transporing, and paying services.
    If You dont find the information You need, please call our customer services
<p><h3>Electronic invoice</h3></p>
    After filling the order details please take care about your personal details has been type correctly.
    Before your package arrive to your adress the GLS postal service company will send an email about the
    possible delivery. If you haven't received your invoice before delivery please call our customer service.
<p><h3>Delivery Deadlines</h3></p>
    If you have an immediate stock supply within 1-2 working days, we will deliver the goods orders to the GLS courier
    service. can be personalized.
    In the absence of an immediate stock of goods, orders will be delivered within 3-5 business days.
    From the expected delivery date or we will notify you by e-mail or by phone of delivery dates other than the above.
<p><h3>Acceptance and delivrey options</h3></p>
<h4>1. Home delivery with GLS service</h4>
<ul>
  <li>For orders over 15,000 Ft, home delivery with GLS courier service: <strong>Free!</strong></li>
  <li>For orders under HUF 15,000, home delivery: 990, - Ft <strong>990,- Ft</strong></li>
</ul>
<h4>2. Personal receipt<a href="https://www.csomag.hu/csomagpont-kereso" target="_blank">GLS Package point</a></h4>
<ul>
  <li>For orders over $ 15,000, receipt at GLS ParcelPoint: <strong>Free!</strong></li>
  <li>In case of an order below HUF 15,000, receipt at GLS Packet <strong>890,- Ft</strong></li>
</ul>
<h4>3. Personal Receipt at our Customer Service - Somewhere - <strong>Free!</strong></h4>
<ul>
  <li>Cím: <a target="_blank" title="Megjelenítés térképen" href="https://www.google.hu/maps/place/Budapest,+Hofherr+Albert+u.+42,+1194/@47.4368042,19.1433234,17z/data=!3m1!4b1!4m5!3m4!1s0x4741c28e80d83fe3:0xf91500e5a992b7db!8m2!3d47.4368042!4d19.1455121">1194 Budapest, Hofherr Albert utca 42. I. épület 5. </a><br>
  </li>
  <li>Opening hours: monday-friday: 9:00-17:00<br>
  </li>
  <li>E-mail: <a href="mailto:example@gmail.com">example@email.com</a><br>
  </li>
  <li>Telephone: +36-1-1111-1111</li>
</ul>
<img src="../../public/images/building.jpg" width="852" height="479" alt=""/>
    </div>
{% endblock %}
