<!DOCTYPE html>
<html>
<head>
    <STYLE type="text/css">
        <link href="../public/css/style.css" rel="stylesheet">
	    </STYLE>
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <!--<div id="wrapperHeader">
        <div id="header">
        <img src="../public/images/lights.jpg" alt="logo" />
 </div>-->
</div>
    {% endblock %}
</head>
<body>
   <link href="../public/css/style.css" rel="stylesheet">
   <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/store">Store</a>
        <a href="/about">About</a>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <font id ="copyright" color="black" size="2"<b>&copy; Copyright 2008 by<a href="http://domain.invalid/">Owner of product</a></b></font>
        {% endblock %}
    </div>
</body>
</html>